<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="#">真～微博系统</a>
        <a class="navbar-brand" href="/logout">退出登录</a>        
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    </div>

  <div class="container center-block">
    <% for (var i=0; i < items.length; i++){ var item = items[i]; %>
      <div class="col-md-10 main-content">
        <h2>
          <%= item.title %>
        </h2>
        <h4>
          <%= item.username %> 说：
        </h4>
        <h5><%= item.postdate %></h5>
        <p>
          <%= item.content %>
        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
        </p>
      </div> 
      <%}%>
      <div  class="col-md-10 main-content center-block">
          <form  action="/post" method="post">
            <div class="form-group">
              <input type="title" class="form-control" id="title" name="title" placeholder="title">
            </div>
            <textarea id="content" name="content" class="form-control" rows="5"></textarea>
            <hr>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        <!-- <footer>
                        <hr>
                        <p>
                            <a href="http://ilibiao.top" target="_blank">&copy libiao 2017</a>
                        </p>
                    </footer> -->
        </div>
  </div>
 
    <!-- Example row of columns -->
  
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>